@font-face {
    font-family: Roboto, Arial;
    text-align: center;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    margin-top: 140px;
    margin-left: 900px;
    width: 500px;
    border-radius: 5px;
    border-style: dotted;
}


